 .body {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    margin: auto;
    margin-top: 40px;
    line-height: 1.5;
    max-width: 800px;
    padding: 10px;
    background-color: rgb(238, 245, 255);
 }
